<!DOCTYPE html>
<html data-bs-theme="dark">
<head>
	<meta charset="utf-8">
	{% if title %}
	<title>{{ title }} - Iris FBT</title>
	{% else %}
	<title>Iris Full Body Tracking</title>
	{% endif %}

	{% block head %}{% endblock %}

	<script src="{{ url_for('main.static', filename='js/moment-with-locales.js') }}"></script>
	{{ moment.include_moment(no_js=True) }}
	<link rel="stylesheet" href="{{ url_for('main.static', filename='css/bootstrap.css') }}">
	<link rel="stylesheet" href="{{ url_for('main.static', filename='css/bootstrap-icons.css') }}">

	{% block javascript %}
	<script src="{{ url_for('main.static', filename='js/modal.js') }}"></script>
	{% endblock %}
	{% block stylesheets %}
	<link rel="stylesheet" href="{{ url_for('main.static', filename='css/main.css') }}">
	<link rel="stylesheet" href="{{ url_for('main.static', filename='css/modal.css') }}">
	{% endblock %}
</head>
<body>
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid">
			<a class="navbar-brand" href="{{ url_for('main.index') }}">Iris FBT</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
					{% block navbar %}{% endblock %}
				</ul>
			</div>
			<span class="col"></span>
			<a class="navbar-brand bi bi-github fs-4 p-0" href="https://github.com/MasonSakai/Iris-Full-Body-Tracking" target="_blank"></a>
		</div>
	</nav>

	<div id="body-container" class="container-fluid mt-3">
		<!-- NEED TO MOVE THESE -->
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		{% for message in messages %}
		<div class="alert alert-info" role="alert">{{ message }}</div>
		{% endfor %}
		{% endif %}
		{% endwith %}
		<!-- NEED TO MOVE THESE -->
		{% block content %}{% endblock %}
	</div>

	<script src="{{ url_for('main.static', filename='js/bootstrap.bundle.js') }}"></script>
	<script>
		const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
		const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
	</script>
</body>
</html>