Flask==3.0.3
Flask-Bootstrap==3.3.7.1
Flask-Moment==1.0.6
Flask-WTF==1.2.1
Flask-SocketIO
Jinja2==3.1.4
Werkzeug==3.0.3
WTForms==3.1.2
python-dotenv==1.0.1
opencv-python>=4.12,<5
cv2-enumerate-cameras
vmcp[osc4py3]
pupil-apriltags
moms-apriltag
numpy-quaternion
lxml
scipy