{% import 'bootstrap_wtf.html' as wtf with context %}

<div class="card popup-form">
	<div class="card-header text-center">
		<h4>Viewing Found Tag {{ tag_family }}:{{ tag_id }}</h4>
	</div>
	<form action="{{ url_for('apriltag.view_found_tag', family=tag_family, id=tag_id) }}" method="POST">
		{{ form.hidden_tag() }}

		<div class="card-body">
			{{ wtf.input_group([form.display_name], group_class='mb-3') }}
			{{ wtf.input_group([form.tag_size], group_class='mb-3') }}

			<div class="mt-3 card">
				<div class="card-header text-center"><h5 class="m-0">Detections</h5></div>
				<div class="card-body p-0">
					<table class="m-0 table">
						<thead>
							<tr>
								<th>Camera</th>
								<th>Size</th>
								<th>Distance</th>
								<th><small>Position<br />Variance</small></th>
								<th><small>Decision<br />Margin</small></th>
							</tr>
						</thead>
						<tbody>
							{% for cam, (num, dist, v_pos, v_mar, size) in cams.items() %}
							<tr>
								<td>{{ cam.display_name }}</td>
								<td>{{ "%.3g" | format(size*100) }}cm</td>
								<td>{{ "%.3g" | format(dist) }}m</td>
								<td>{{ "%.3g" | format(v_pos * 1000) }}mm</td>
								<td>{{ "%.3g" | format(v_mar) }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="card-footer"></div>
			</div>
		</div>

		<div class="card-footer">
			<div class="input-group mb-3">
				<button type="button" class="btn btn-secondary form-control" data-modal-close>Cancel</button>
				{{ form.submit(class="btn btn-primary form-control") }}
			</div>
			<a href="{{ url_for('apriltag.clear_found_tag', family=tag_family, id=tag_id) }}" class="btn btn-outline-warning form-control" data-modal>Clear</a>
		</div>
	</form>
</div>