{% import 'bootstrap_wtf.html' as wtf with context %}

<div class="card popup-form">
	<div class="card-header text-center">
		<h4>
			Edit Detector {{ detector.display_name }}
			<a href="https://pupil-apriltags.readthedocs.io/en/stable/api.html#pupil_apriltags.Detector" target="_blank" class="badge rounded-pill text-bg-info fs-6">?</a>
		</h4>
	</div>
	<form action="{{ url_for('apriltag.view_detector', id=detector.ThingID) }}" method="POST">
		{{ form.hidden_tag() }}

		<div class="card-body">
			{{ wtf.form_floating(form.families, base_class='mb-3') }}

			{{ wtf.input_group([form.nthreads, form.decode_sharpening], group_class='input-group-sm mb-3') }}
			{{ wtf.input_group([form.quad_decimate, form.quad_sigma], group_class='input-group-sm mb-3') }}
			{{ wtf.input_group([form.refine_edges, form.default_tag_size], group_class='input-group-sm') }}
		</div>

		<div class="card-footer">
			<div class="input-group mb-3">
				<button type="button" class="btn btn-secondary form-control" data-modal-close>Cancel</button>
				{{ form.submit(class="btn btn-primary form-control") }}
			</div>
			<button class="btn btn-danger form-control"
					onclick="if (event.target.innerText == 'DELETE') { event.stopPropagation(); event.preventDefault(); event.target.innerText = 'ARE YOU SURE? (DELETE)' }
							else { event.preventDefault(); window.Modal.stack.at(-1).load('{{ url_for('apriltag.delete_detector', id=detector.ThingID) }}'); }">
				DELETE
			</button>
		</div>
	</form>
</div>