{% extends "base.html" %}

{% block content %}

<div class="row border-top border-2">
	<div class="col-auto border-end border-2 tag-list" style="--tag-list-width: 200px">
		editor
	</div>

	<div id="tag-canvas-wrapper" class="col bg-secondary-subtle">
		<canvas id="tag-canvas" style="margin-bottom: -6px;"></canvas>
	</div>

	<div class="col-auto border-start border-2 tag-list list-group list-group-flush">
		<button class="list-group-item" id="tags-refresh">Refresh List</button>

		<div class="list-group-item list-group-item-light d-flex justify-content-between align-items-center" id="detectors">
			Detectors
			<a class="btn badge btn-outline-info rounded-pill ms-3" href="{{ url_for('apriltag.create_detector') }}" id="new-detector">+</a>
		</div>
		<div class="list-group-item list-group-item-light d-flex justify-content-between align-items-center" id="tags-known">
			Known Tags
			<span class="badge text-bg-primary rounded-pill ms-3">0</span>
		</div>
		<div class="list-group-item list-group-item-light d-flex justify-content-between align-items-center" id="tags-found">
			Found Tags
			<span class="badge text-bg-primary rounded-pill ms-3">0</span>
		</div>
		<div class="list-group-item list-group-item-light d-flex justify-content-between align-items-center" id="cameras">
			Cameras
			<a class="btn badge btn-outline-info rounded-pill ms-3" href="{{ url_for('cameras.new_camera') }}" id="new-camera">+</a>
		</div>
		<div class="list-group-item list-group-item-light p-0" id="tags-end"></div>
	</div>
</div>

{% endblock %}


{% block navbar %}
{{ super() }}
<li class="nav-item">
	<span class="nav-link active">AprilTag</span>
</li>
{% endblock %}

{% block javascript %}
{{ super() }}
<script src="{{ url_for('apriltag.static', filename='js/apriltag.js') }}"></script>
{% endblock %}

{% block stylesheets %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('main.static', filename='css/form-decorators.css') }}">
<style>

	.tag-list {
		min-width: var(--tag-list-width) !important;
		overflow-y: scroll auto;
	}

	#body-container > .row > * {
		padding-left: 0;
		padding-right: 0;
		height: var(--body-height);
		max-height: var(--body-height);
	}

	#tag-canvas-wrapper {
		position: relative;
		overflow: hidden;
	}

	#body-container {
		--body-height: calc(100vh - 58px);
	}

	#body-container.mt-3 {
		margin-top: 0 !important;
	}
</style>
{% endblock %}
