{% extends "base.html" %}

{% block content %}

<div class="row border-top border-2">
	<div class="col-auto border-end border-2 tag-list d-flex flex-column" style="--tag-list-width: 200px">
		<ul class="flex-fill border-bottom border-2 list-group list-group-flush">
			<li class="list-group-item list-group-item-light"
				 data-bs-toggle="tooltip" data-bs-title="The constraints used to place objects, applied in order where applicable">Placement Rules</li>
			<li class="list-group-item p-0"><div class="list-group list-group-flush" id="list-rules"></div></li>
			<li class="list-group-item list-group-item-light" id="list-pins" hidden
				 data-bs-toggle="tooltip" data-bs-title="Pins a tag's detected position, useful for marking the floor with a temporary tag">Pinned Tags <span class="bi bi-pin-fill"></span></li>
			<li class="list-group-item p-0"></li>
		</ul>
		<ul class="list-group list-group-flush" id="localize-result"></ul>
	</div>

	<div class="col d-flex flex-column">
		<div class="border-bottom border-2 btn-toolbar" role="toolbar">
			<div class="btn-group me-2" role="group" aria-label="Second group">
				<button id="tool-norm" type="button" class="btn bi bi-box-arrow-up-right"
						data-bs-toggle="tooltip" data-bs-title="Facing"></button>
				<button id="tool-offset" type="button" class="btn bi bi-arrow-bar-up"
						data-bs-toggle="tooltip" data-bs-title="Offset"></button>
			</div>
			<div class="vr"></div>
			<div class="btn-group me-2" role="group" aria-label="Second group">
				<button id="tool-pin" type="button" class="btn bi bi-pin-angle"
						data-bs-toggle="tooltip" data-bs-title="Pin Found Tag"></button>
			</div>
		</div>
		<div id="tag-canvas-wrapper" class="bg-secondary-subtle flex-fill">
			<canvas id="tag-canvas" style="margin-bottom: -6px;" keepfocus></canvas>

			<div class="card position-absolute top-0 start-0 m-2 bg-body-secondary" style="width: 18rem;" id="card-overlay" hidden>
				<div class="card-header input-group input-group-sm p-0">
					<span id="card-icon" class="input-group-text" ></span>
					<input id="card-rename" type="text" aria-label="Rename" class="form-control">
					<button id="card-rename" class="btn btn-outline-secondary bi bi-pencil-square"></button>
					<button id="card-confirm" class="btn btn-outline-success bi bi-check-lg"></button>
					<button id="card-dismiss" class="btn btn-outline-danger bi bi-x-lg"></button>
				</div>
				<div class="card-body"></div>
			</div>
		</div>
	</div>

	<div class="col-auto border-start border-2 tag-list list-group list-group-flush" id="object-list">
		<button class="btn btn-outline-secondary list-group-item" id="tags-refresh">Refresh List</button>

		<div class="list-group-item list-group-item-light d-flex justify-content-between align-items-center" id="detectors">
			Detectors
			<a class="btn badge btn-outline-info rounded-pill ms-3" href="{{ url_for('apriltag.create_detector') }}" id="new-detector">+</a>
		</div>
		<div class="list-group-item list-group-item-light d-flex justify-content-between align-items-center" id="tags-known">
			Known Tags
			<span class="badge text-bg-primary rounded-pill ms-3">0</span>
		</div>
		<div class="list-group-item list-group-item-light d-flex justify-content-between align-items-center" id="tags-found">
			Found Tags
			<span class="badge text-bg-primary rounded-pill ms-3">0</span>
		</div>
		<div class="list-group-item list-group-item-light d-flex justify-content-between align-items-center" id="cameras">
			Cameras
			<a class="btn badge btn-outline-info rounded-pill ms-3" href="{{ url_for('cameras.new_camera') }}" id="new-camera">+</a>
		</div>
		<div class="list-group-item list-group-item-light p-0" id="tags-end"></div>
	</div>
</div>

{% endblock %}


{% block navbar %}
{{ super() }}
<li class="nav-item">
	<span class="nav-link active">AprilTag</span>
</li>
{% endblock %}

{% block javascript %}
{{ super() }}
<script src="{{ url_for('apriltag.static', filename='js/apriltag.js') }}"></script>
{% endblock %}

{% block stylesheets %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('main.static', filename='css/form-decorators.css') }}">
<style>

	.tag-list {
		min-width: var(--tag-list-width) !important;
		overflow-y: scroll auto;
	}

	#body-container > .row > * {
		padding-left: 0;
		padding-right: 0;
		height: var(--body-height);
		max-height: var(--body-height);
	}

	#tag-canvas-wrapper {
		position: relative;
		overflow: hidden;
	}

	#body-container {
		--body-height: calc(100vh - 58px);
	}

	#body-container.mt-3 {
		margin-top: 0 !important;
	}

	#card-overlay .card-header.input-group > * {
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		--bs-border-radius-sm: var(--bs-card-inner-border-radius);
	}

	.list-group-item.btn {
		--bs-btn-border-radius: 0px;
	}
</style>
{% endblock %}
