{% import 'bootstrap_wtf.html' as wtf with context %}

<div class="card popup-form">
	<div class="card-header text-center">
		<h4>
			Create Camera
		</h4>
	</div>
	<form action="{{ url_for('cameras.new_camera') }}" method="POST">
		{{ form.hidden_tag() }}

		<div class="card-body">
			{{ wtf.form_floating(form.display_name) }}
		</div>

		<div class="card-footer">
			<div class="input-group">
				<button type="button" class="btn btn-secondary form-control" data-modal-close>Cancel</button>
				{{ form.submit(class="btn btn-primary form-control") }}
			</div>
		</div>
	</form>
</div>