{% set can_request_activate = True %}
{% extends "_view_ref_base.html" %}

{% block device_info %}
<div class="mt-3 form-floating">
	<span class="form-control">{{ ref.name }}</span>
	<label>Device Name</label>
</div>

<div class="mt-3 input-group">
	<div class="form-floating">
		<span class="form-control">{{ ref.vid }}</span>
		<label>Device VID</label>
	</div>
	<div class="form-floating">
		<span class="form-control">{{ ref.pid }}</span>
		<label>Device PID</label>
	</div>
</div>
{% endblock %}