{% import 'bootstrap_wtf.html' as wtf %}

<div class="card popup-form">
	<div class="card-header text-center">
		<h4>
			Update Camera
		</h4>
	</div>
	<form action="{{ url_for('cameras.view_camera', cam_id=camera.ThingID) }}" method="POST">
		{{ form.hidden_tag() }}

		<div class="card-body">
			<div class="mb-3 input-group">
				{{ form.display_name.label(class='input-group-text') }}
				{{ form.display_name(class='form-control') }}
				{%- for error in form.display_name.errors %}
					<div class="invalid-feedback">{{ error }}</div>
				{%- endfor %}
			</div>

			<a type="button" class="form-control mb-3 btn btn-outline-{% if camera.calib_rms == -1 %}warning{% else %}secondary{% endif %}" href="{{ url_for("cameras.calibrate", cam_id=camera.ThingID) }}" data-modal-new>Calibrate</a>

			<div class="input-group">
				{% if camera.references | length > 0 %}
				<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">References</button>
				<ul class="dropdown-menu">
					{% for ref in camera.references %}
					<li><a class="dropdown-item" href="{{ url_for("cameras.view_ref", cam_id=camera.ThingID, ref_id=ref.ThingID) }}" data-modal-new data-modal-refresh>{{ ref.display_name }}</a></li>
					{% endfor %}
				</ul>
				{% endif %}

				<span class="input-group-text form-control">Create Reference</span>
				<a type="button" class="btn btn-outline-secondary" href="{{ url_for("cameras.new_lref", cam_id=camera.ThingID) }}" data-modal-new data-modal-refresh>Local</a>
				<a type="button" class="btn btn-outline-secondary" href="{{ url_for("cameras.calibrate", cam_id=camera.ThingID) }}" data-modal-new>Remote</a>
			</div>
		</div>

		<div class="card-footer">
			<div class="form-hor">
				<button type="button" class="btn btn-secondary mb-3" data-modal-close>Cancel</button>
				{{ form.submit(class="btn btn-primary mb-3") }}
			</div>
			<button class="btn btn-danger form-control mb-3"
					onclick="if (event.target.innerText == 'DELETE') { event.stopPropagation(); event.preventDefault(); event.target.innerText = 'ARE YOU SURE? (DELETE)' }
							else { event.preventDefault(); window.Modal.stack.at(-1).load('{{ url_for('cameras.delete_camera', cam_id=camera.ThingID) }}'); }">
				DELETE
			</button>
		</div>
	</form>
</div>