{% extends "base.html" %}

{% block content %}
{{ super() }}
<h1>Camera Manager</h1>

<div class="mt-3 pb-3 rounded-5 bg-dark-subtle border border-dark-subtle">
	<table class="w-100 text-center table table-hover caption-top">
		<caption class="ps-3 border-bottom border-dark-subtle">
			<h5 style="display: inline-block;">Cameras: {{ cams | length }}</h5>
			<span style="display: inline-block; width: 100px;">&nbsp;</span>
			<button class="btn btn-outline-info me-2" href="{{ url_for("cameras.new_camera") }}" data-modal-new data-modal-refresh-always>+</button>
		</caption>
		{% if cams|length > 0 %}
		<thead class="fw-bolder border-bottom border-4 border-start-0 border-end-0 border-top-0 border-dark-subtle">
			<tr>
				<td class="p-2">Name</td>
			</tr>
		</thead>
		<tbody>
			{% for cam in cams %}
			<tr class="p-1 border-bottom border-dark-subtle" href="{{ url_for("cameras.view_camera", id=cam.ThingID()) }}" data-modal-new data-modal-refresh-always>
				<td class="p-2">{{ cam.display_name }}</td>
			</tr>
			{% endfor %}
		</tbody>
		{% endif %}
	</table>
</div>



{% endblock %}

{% block stylesheets %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('main.static', filename='css/form-decorators.css') }}">
{% endblock %}



<!--<form method="POST">
	<select name="camera_id" id="camera_select">
		{% for camera in cameras %}
		<option value="{{ camera.id }}">{{ camera.name }}</option>
		{% endfor %}
	</select>

	<button type="button" onclick="addCamera()">+ New Camera</button>

	<button type="submit">Submit</button>
</form>

<script>
	function addCamera() {
		openModal('/cameras/new')
			.then(camera => {
				const sel = document.getElementById('camera_select');

				let opt = sel.querySelector(`option[value="${camera.id}"]`);
				if (!opt) {
					opt = document.createElement('option');
					opt.value = camera.id;
					opt.textContent = camera.name;
					sel.appendChild(opt);
				}

				opt.selected = true;
			})
			.catch(() => { });
	}
</script>-->
