<div config-id="{{ camera.id }}" camera-id="{{ camera.camera_id }}" class="card bg-body-secondary border border-secondary-subtle">
	<div class="card-header input-group">
		<span class="input-group-text lbl-name">{{ camera.display_name }}</span>
		<button class="btn btn-outline-secondary btn-name" type="button">
			<i class="bi bi-pencil-square"></i>
		</button>
	</div>
	<div class="card-body">
		<div>
			<video></video>
			<canvas></canvas>
		</div>
	</div>
	<div class="card-footer container-fluid">
		<div class="row">
			<div class="form-check col-auto">
				<input class="form-check-input" type="checkbox" name="autostart-{{ camera.camera_id }}" id="autostart-{{ camera.camera_id }}" />
				<label class="form-check-label" for="autostart-{{ camera.camera_id }}">Auto-Start</label>
			</div>
			<div class="form-check col-auto">
				<input class="form-check-input" type="checkbox" name="flipHorizontal-{{ camera.camera_id }}" id="flipHorizontal-{{ camera.camera_id }}" />
				<label class="form-check-label" for="flipHorizontal-{{ camera.camera_id }}">Flip Horizontal</label>
			</div>
			<label class="form-label col-auto" for="threshold-{{ camera.camera_id }}">Threshold</label>
			<input class="form-range col" type="range" list="threshold-ticks"
				   name="threshold-{{ camera.camera_id }}" id="threshold-{{ camera.camera_id }}"
				   min="0" max="1" step="0.01"/>
			<div class="col-auto"></div>
			<div class="col-auto text-body-secondary fps">Starting...</div>
		</div>
	</div>
</div>
